body {
    background-color: rgb(221, 153, 164);
}

div {
    background-color: white;
}

.titulo {
    text-decoration: underline;
}

.sum {
    text-decoration: underline;
}

.livro {
    text-decoration: underline;
}

.frase {
    font: italic;
    text-align: center;
    text-decoration: underline;
}